@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*Sakura Pedals*/
@keyframes sakura-fall {
  0% {
    transform: translate(0, -10vh) rotate(0deg);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: translate(-100vw, 100vh) rotate(360deg) translateX(-50px);
    opacity: 0;
  }
}

.sakura {
  position: fixed;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background: #f9a8d4;
  /* Tailwind pink-300 */
  border-radius: 50% 70% 50% 70%;
  pointer-events: none;
  z-index: 9999;
  animation: sakura-fall linear forwards;
}